In [ ]:
## Import the packages
import numpy as np
from scipy import stats


## Define 2 random distributions
#Sample Size
N = 10
#Gaussian distributed data with mean = 2 and var = 1
a = np.random.randn(N) + 2
#Gaussian distributed data with with mean = 0 and var = 1
b = np.random.randn(N)


## Calculate the Standard Deviation
#Calculate the variance to get the standard deviation

#For unbiased max likelihood estimate we have to divide the var by N-1, and therefore the parameter ddof = 1
var_a = a.var(ddof=1)
var_b = b.var(ddof=1)

#std deviation
s = np.sqrt((var_a + var_b)/2)
s



## Calculate the t-statistics
t = (a.mean() - b.mean())/(s*np.sqrt(2/N))



## Compare with the critical t-value
#Degrees of freedom
df = 2*N - 2

#p-value after comparison with the t 
p = 1 - stats.t.cdf(t,df=df)


print("t = " + str(t))
print("p = " + str(2*p))
### You can see that after comparing the t statistic with the critical t value (computed internally) we get a good p value of 0.0005 and thus we reject the null hypothesis and thus it proves that the mean of the two distributions are different and statistically significant.


## Cross Checking with the internal scipy function
t2, p2 = stats.ttest_ind(a,b)
print("t = " + str(t2))
print("p = " + str(p2))

In [1]:
import pandas as pd
df = pd.read_excel(r"C:\Users\Admin\Desktop\_a40a01965a9ca1dca5c4965df9c4ae8e_Course-3-Week-4-Quiz.xlsx")

In [2]:
df.head()

   Intern Number  Original Score  Score After Training Gender   Age
0              1              60                    72       M   19
1              2              82                    91       F   23
2              3              84                    87       F   19
3              4              57                    79       M   19
4              5              93                    94       M   20

In [3]:
a = df['Score After Training']
b = df['Original Score']

In [4]:
from scipy import stats
t2, p2 = stats.ttest_ind(a,b)

In [5]:
t2

4.265456042506422

In [6]:
p2

5.548707598713564e-05

In [7]:
df.columns

Index(['Intern Number', 'Original Score', 'Score After Training', 'Gender ',
       'Age'],
      dtype='object')

In [8]:
df_female = df.loc[df['Gender ']=='F']

In [9]:
df_female['Score After Training'].mean()

86.55

In [10]:
df_male = df.loc[df['Gender ']=='M']
df_male['Score After Training'].mean()

85.35

In [11]:
t2, p2 = stats.ttest_ind(a,b,equal_var=True)

In [12]:
t2

4.265456042506422

In [13]:
p2

5.548707598713564e-05

In [14]:
1-(p2/2)

0.9999722564620064

In [15]:
stats.t.ppf(q=0.95,  # Quantile to check
            df=39)

1.6848751194973992

In [16]:

stats.ttest_rel(a = a,
                b = b)

Ttest_relResult(statistic=3.9628020490185416, pvalue=0.0003060230185344134)

In [19]:
ttest,pval = stats.ttest_rel(df['Original Score'], df['Score After Training'])

In [20]:
pval

0.0003060230185344134

In [21]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis

In [22]:
ttest

-3.9628020490185416